name: button_with_loader
description: A new Flutter package for button with button states ideal/loading/error/done and can customize it with builder widget.
# publish_to: 'none'
homepage: https://github.com/bhumit822/button_with_loader
version: 0.1.1

environment:
  sdk: '>=2.19.4 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
